.chelsea {
    font-family: 'Chelsea Market';
    font-size: 15px;
    text-decoration: none; 
    color:black;
}

.navtext{
    text-decoration: none; 
    color: black; 
    size: 5px; 
    margin-right: 50px;
}
.right {
    text-align: center;
}

.mid{
    text-decoration: none; 
    color: black; 
    size: 7px;
    font-family: 'Chelsea Market';
}

.chelsee {
    font-family: 'Chelsea Market';
    font-size: 15px;
    text-decoration: none; 
    color:black;
}